[mysqld]
#datadir=/var/lib/mysql
datadir=/data1/mysql
socket=/var/lib/mysql/mysql.sock
tmpdir=/data1/mysql/tmp

back_log = 501
max_connections = 5002
max_connect_errors = 50
table_open_cache = 9920
max_allowed_packet = 32M
binlog_cache_size = 3M
max_heap_table_size = 512M
read_buffer_size = 4M
read_rnd_buffer_size = 128M
sort_buffer_size = 64M
join_buffer_size = 16M
thread_cache_size = 64
thread_concurrency = 24
query_cache_size = 256M
query_cache_limit = 16M
#ft_min_word_len = 8
thread_stack = 1920K
wait_timeout = 600
interactive_timeout = 600


innodb_buffer_pool_size = 32G
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_thread_concurrency = 64
innodb_log_buffer_size = 16M
innodb_log_file_size = 1024M
innodb_lock_wait_timeout = 120

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

#log-error=/var/log/mariadb/mariadb.log

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
open-files-limit = 10000

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

